.global{
    margin: 0% 5% 5% 5%;
}

.description {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2rem;
}

h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 5rem;
}

.authors {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size:3rem;
    margin-right: 8px;
}